/* default setting */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

body {
    overflow: hidden;
    color: var(--color-white);
    background: linear-gradient(180deg, var(--color-primary-300) 0%, var(--color-primary-800) 100%);
    padding-bottom: env(safe-area-inset-bottom);
    touch-action: manipulation;
    appearance: none;
}

:root {
    /* color setting */
    --color-primary-800: #003366;
    --color-primary-300: #0066CC;
    --color-white: #F2F2F2;
    --color-secondary-300: #DCE02E;
    --color-secondary-400: #A0C044;
    --color-secondary-500: #7A983D;
    --color-secondary-600: #65803E;


    /* space setting */
    --space-4: 4px;
    --space-8: 8px;
    --space-16: 16px;
    --space-32: 32px;
}

/* animation frame */
.animation-container {
    height: 100%;
    overflow: auto;
}

.dialog-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    background: rgba(242, 242, 242, 0.56);
    backdrop-filter: blur(19.2px);
}

.dialog {
    height: 100%;
    width: 100%;
    z-index: 200;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    padding: var(--space-8);
}