<div class="word-card">
    <div class="word">@Word</div>
    <button>
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_71_201)">
                <path
                    d="M19.6055 1.39453C20.3086 2.09766 20.9336 2.85938 21.4805 3.67969C22.0273 4.5 22.4844 5.35938 22.8516 6.25781C23.2188 7.15625 23.5039 8.08984 23.707 9.05859C23.9102 10.0273 24.0078 11.0078 24 12C24 13 23.9023 13.9805 23.707 14.9414C23.5117 15.9023 23.2305 16.8359 22.8633 17.7422C22.4961 18.6484 22.0352 19.5078 21.4805 20.3203C20.9258 21.1328 20.3008 21.8945 19.6055 22.6055L18.5391 21.5391C19.1719 20.9062 19.7344 20.2227 20.2266 19.4883C20.7188 18.7539 21.1328 17.9805 21.4688 17.168C21.8047 16.3555 22.0586 15.5156 22.2305 14.6484C22.4023 13.7812 22.4883 12.8984 22.4883 12C22.4883 11.1016 22.4023 10.2188 22.2305 9.35156C22.0586 8.48438 21.8047 7.64844 21.4688 6.84375C21.1328 6.03906 20.7188 5.26562 20.2266 4.52344C19.7344 3.78125 19.1719 3.09375 18.5391 2.46094L19.6055 1.39453ZM19.5 12C19.5 13.4062 19.2344 14.7461 18.7031 16.0195C18.1719 17.293 17.4141 18.4297 16.4297 19.4297L15.3633 18.3633C16.2148 17.5117 16.8672 16.5391 17.3203 15.4453C17.7734 14.3516 18 13.2031 18 12C18 10.7969 17.7734 9.64844 17.3203 8.55469C16.8672 7.46094 16.2148 6.48828 15.3633 5.63672L16.4297 4.57031C17.4141 5.57031 18.1719 6.70703 18.7031 7.98047C19.2344 9.25391 19.5 10.5938 19.5 12ZM13.2422 7.75781C13.8125 8.32813 14.2461 8.97656 14.543 9.70312C14.8398 10.4297 14.9922 11.1953 15 12C15 12.8047 14.8516 13.5703 14.5547 14.2969C14.2578 15.0234 13.8203 15.6719 13.2422 16.2422L12.1875 15.1875C12.6094 14.7656 12.9336 14.2813 13.1602 13.7344C13.3867 13.1875 13.5 12.6094 13.5 12C13.5 11.3984 13.3867 10.8242 13.1602 10.2773C12.9336 9.73047 12.6094 9.24219 12.1875 8.8125L13.2422 7.75781ZM7.93359 3H9V21H7.94531L3.43359 16.5H0V7.5H3.43359L7.93359 3ZM7.5 5.56641L4.06641 9H1.5V15H4.06641L7.5 18.4336V5.56641Z"
                    fill="#F2F2F2" />
            </g>
            <defs>
                <clipPath id="clip0_71_201">
                    <rect width="24" height="24" fill="white" />
                </clipPath>
            </defs>
        </svg>
    </button>
    <div class="part-of-speech">@PartOfSpeech</div>
</div>
@code {
    [Parameter]
    public string Word { get; set; } = nameof(Word);

    [Parameter]
    public string PartOfSpeech { get; set; } = nameof(PartOfSpeech);
}