@page "/"
@inject IUserService UserService
@inject IClipboardService ClipboardService
<PageTitle>Home</PageTitle>
<Animate Animation="Animations.Fade" class="animation-container">
    @if (!_isNewUser)
    {
        @if (_user == null)
        {
            <Loader Message="ユーザ情報を確認しています" />
        }
        else
        {
            <div class="wrapper">
                <UserCard User="@_user" />
                <button @onclick=@CopyUserIdButtonOnClick>移行用IDをコピー</button>
                <div class="progress">
                    <ProgressCard Parameter="学習済み単語数" Value="200/200" ProgressValue="100" />
                    <ProgressCard Parameter="習熟レベル１" Value="64/200" ProgressValue="32" />
                    <ProgressCard Parameter="習熟レベル２" Value="40/200" ProgressValue="20" />
                    <ProgressCard Parameter="習熟レベル３" Value="20/200" ProgressValue="10" />
                </div>
            </div>
        }
    }
</Animate>
@if (_isNewUser)
{
    <div class="dialog-background">
    <div class="dialog">
        <Welcome />
    </div>
</div>
}