@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

@* <div class="dialog-background">
    <div class="dialog">
        <h1>Hello, world!</h1>
        Welcome to your new app.
    </div>
</div> *@