@page "/words"
<PageTitle>Words</PageTitle>
<Animate Animation="Animations.Fade" class="animation-container">
    <div class="wrapper">
        <div>
            <input class="search montserrat-400" type="search" />
        </div>
        <div class="list">
            @foreach (var word in _wordList)
            {
                <DictionaryWordCard Word="@word" />
            }
        </div>
    </div>
</Animate>